.imgBorder > img:hover {
  @apply -translate-x-4 -translate-y-4;
}

.imgBorder::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  border: solid 2px;
  z-index: -10;
  @apply bg-bg-200 border-accent-200 translate-x-2 translate-y-2 rounded-lg duration-300;
}

.imgBorder:hover::after {
  @apply translate-x-4 translate-y-4 duration-300;
}
