.imgBorder > img {
  transition: transform 0.3s;
}

.imgBorder > img:hover {
  @apply -translate-x-4 -translate-y-4;
}

.imgBorder::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  border: solid 2px;
  transition: transform 0.3s;
  @apply bg-bg-200 border-accent-100 translate-x-2 translate-y-2 rounded-lg;
}

.imgBorder:hover::after {
  /* @apply translate-x-4 translate-y-4; */
}
