@import 'tailwindcss';

@theme {
  --color-primary-100: #d4eaf7;
  --color-primary-200: #b6ccd8;
  --color-primary-300: #3b3c3d;
  --color-accent-100: #71c4ef;
  --color-accent-200: #00668c;
  --color-text-100: #1d1c1c;
  --color-text-200: #313d44;
  --color-bg-100: #fffefb;
  --color-bg-200: #f5f4f1;
  --color-bg-300: #cccbc8;
}

html {
  scroll-behavior: smooth;
  font-size: 60%;

  @media screen and (min-width: 500px) {
    font-size: 70%;
  }

  @media screen and (min-width: 900px) {
    font-size: 100%;
  }
}

.imgBorder > img {
  transition: transform 0.3s;
}

.imgBorder > img:hover {
  @apply -translate-x-4 -translate-y-4;
}

.imgBorder::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  border: solid 2px;
  transition: transform 0.3s;
  @apply bg-bg-200 border-accent-100 translate-x-2 translate-y-2 rounded-lg;
}

.imgBorder:hover::after {
  @apply translate-x-4 translate-y-4;
}

.sectionHeader {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  gap: 10px;

  @apply text-lightest-slate;
}

.sectionHeader::after {
  display: block;
  content: '';
  width: 300px;
  height: 1px;
  @apply bg-lightest-navy ml-4;
}

@media screen and (min-width: 600px) {
  .sectionHeader::after {
    content: '';
    width: 300px;
  }
}
