@import 'tailwindcss';

@theme {
  --color-primary-100: #d4eaf7;
  --color-primary-200: #b6ccd8;
  --color-primary-300: #3b3c3d;
  --color-accent-100: #71c4ef;
  --color-accent-200: #00668c;
  --color-text-100: #1d1c1c;
  --color-text-200: #313d44;
  --color-bg-100: #fffefb;
  --color-bg-200: #f5f4f1;
  --color-bg-300: #cccbc8;
}

html {
  scroll-behavior: smooth;
  font-size: 60%;

  @media screen and (min-width: 500px) {
    font-size: 70%;
  }

  @media screen and (min-width: 900px) {
    font-size: 100%;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: theme('colors.bg-200');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.bg-100');
  border-radius: 16px;
  border: 3px solid theme('colors.bg-100');
}

::-webkit-scrollbar-button {
  display: none;
}
