.contentFadeIn {
  animation: aniFadeIn;
  animation-fill-mode: both;
  animation-duration: 0.1s;
  animation-delay: 0.1s;
}

.contentFadeOut {
  visibility: hidden;
  display: none;
  opacity: 0;
  top: -9999px;
  left: -9999px;
}

@keyframes aniFadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
