.contentFadeIn {
  animation: aniFadeIn;
  animation-fill-mode: both;
  animation-duration: 0.1s;
  animation-delay: 0.1s;
}

.contentFadeOut {
  visibility: hidden;
  display: none;
  opacity: 0;
  top: -9999px;
  left: -9999px;
}

.svg {
  height: 64px;
  width: 64px;
}

@media not all and (min-width: 768px) {
  .svg {
    height: 40px;
    width: 40px;
  }
}

@keyframes aniFadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
