.sectionHeader {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  gap: 10px;
  color: var(--color-accent-100);
}

.sectionHeader::after {
  display: block;
  content: '';
  width: 300px;
  height: 1px;
  background-color: var(--color-accent-200);
  margin-left: 16px;
}

@media screen and (min-width: 600px) {
  .sectionHeader::after {
    content: '';
    width: 300px;
  }
}
