.sectionHeader {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  gap: 10px;

  @apply text-accent-100;
}

.sectionHeader::after {
  display: block;
  content: '';
  width: 300px;
  height: 1px;
  @apply bg-accent-200 ml-4;
}

@media screen and (min-width: 600px) {
  .sectionHeader::after {
    content: '';
    width: 300px;
  }
}
